* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col{
    box-shadow: rgba(63, 63, 63, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li a:hover{
    cursor: pointer;
}
.SideBar{
    position: fixed;
    top: 100px;
}
.SideFooter li{
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .SidebarResponsive ul{
        display: grid;
        gap:  50px;
    }

  }
 
  @media only screen and (max-width:  425px) {
    .SidebarResponsive ul{
        display: grid;
        gap:  32px;
    }
    
  }